<app-navbar></app-navbar>

<app-not-found *ngIf="notFound"></app-not-found>
<app-unexpected-error *ngIf="unexpected"></app-unexpected-error>

<div *ngIf="!notFound && !unexpected && product" class="bg-primary">
    <div class="container-sm py-3 py-sm-4 py-lg-5 d-flex gap-3 flex-column flex-lg-row">
        <div class="custom-card galeria-container bg-lighter p-0">
            <p-galleria [value]="product.fotos" [circular]="true" [showThumbnails]="false"
                [showItemNavigators]="product.fotos.length > 1 ? true : false"
                [showIndicators]="product.fotos.length > 1 ? true : false" [changeItemOnIndicatorHover]="true"
                [showIndicatorsOnItem]="true">
                <ng-template pTemplate="item" let-item>
                    <div class="image-galleria-template d-flex justify-content-center align-items-center">
                        <img [src]="mediaUrl + item" />
                    </div>
                </ng-template>
            </p-galleria>
        </div>
        <div class="custom-card product-details" [ngClass]="product.descuento ? 'discount-card' : ''">
            <div class="d-flex flex-column justify-content-around h-100">
                <div>
                    <a [routerLink]="['/profile', product.usuario.id]">
                        <p-chip
                            [label]="product.usuario.negocio ? product.usuario.negocio : product.usuario.nombre + ' ' + product.usuario.apellido"
                            [image]="mediaUrl + product.usuario.foto_perfil"></p-chip>
                    </a>
                    <h3 *ngIf="product.titulo">{{ product.titulo }}</h3>
                    <h3 *ngIf="!product.titulo">Sin título</h3>
                    <ng-template #t let-fill="fill">
                        <span class="star" [class.full]="fill === 100">
                            <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                        </span>
                    </ng-template>
                    <div class="d-flex gap-2 align-items-center">
                        <ngb-rating [(rate)]="product.puntuacion" [starTemplate]="t" [readonly]="true" [max]="5">
                        </ngb-rating>
                        <h5 *ngIf="product.puntuacion !== null" class="mb-0 font-weight-normal">{{ product.puntuacion }}
                        </h5>
                        <h6 *ngIf="product.puntuacion === null" class="mb-0 font-weight-normal">No hay datos</h6>
                    </div>
                </div>
                <h1 *ngIf="product.precio && !product.descuento" class="text-nowrap">$ {{ product.precio }}</h1>
                <h1 *ngIf="!product.precio" class="text-nowrap">Sin precio</h1>
                <div *ngIf="product.descuento && product.precio" class="d-flex align-items-center flex-wrap-reverse">
                    <h1 class="text-success mr-3 text-nowrap">$ {{ product.precio - (product.precio * product.descuento
                        / 100) | number: '1.2-2'}}</h1>
                    <h6 class="text-danger mb-0 text-nowrap"><s>$ {{ product.precio }}</s></h6>
                </div>
                <a *ngIf="!owned" class="link-button align-self-sm-center" target="_blank"
                    href="https://wa.me/{{ product.usuario.celular }}?text={{ mensajeContacto }}">
                    <button pButton pRipple type="button" label="CONTACTAR" icon="pi pi-whatsapp"
                        class="p-button-lg p-button-success button-responsive" (click)="registrarCompra()"></button>
                </a>
                <div *ngIf="owned" class="link-button align-self-sm-center">
                    <button pButton pRipple type="button" label="CONTACTAR" icon="pi pi-whatsapp"
                        class="p-button-lg p-button-success button-responsive" disabled></button>
                </div>
                <div class="mt-3">
                    <h6>Categorías:</h6>
                    <div class="d-flex flex-wrap gap-2 justify-content-center">
                        <a *ngFor="let categoria of product.categoria" class="link-button align-self-sm-center"
                            [routerLink]="'.'">
                            <p-chip [label]="categoria" styleClass="product-category-chip"></p-chip>
                        </a>
                        <h5 *ngIf="product.categoria.length === 0">No hay categorías</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!notFound && !unexpected && product" class="bg-lighter">
    <div class="container-sm py-3 py-sm-4 py-lg-5 d-flex gap-lg-5 flex-column flex-lg-row">
        <div>
            <div class="product-info pb-2-5 pb-sm-3 pb-lg-4">
                <h3>Descripción</h3>
                <p *ngIf="product.descripcion" class="mb-0 text-justify">{{ product.descripcion }}</p>
                <h5 *ngIf="!product.descripcion" class="mb-0 text-center">No hay descripción</h5>
            </div>
            <div id="comments" class="product-info py-2-5 py-sm-3 pt-lg-4 pb-lg-0">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h3 class="mb-0">Comentarios<span *ngIf="comentarios !== null"> ({{comentarios.count}})</span></h3>
                    <button pButton pRipple label="COMENTAR Y PUNTUAR" [disabled]="owned || showNewComment"
                        class="p-button-sm p-button-warning d-none d-sm-block" [routerLink]="['.']" fragment="comments"
                        (click)="showNewComment = true;"></button>
                </div>
                <div class="d-flex flex-column gap-3">
                    <button *ngIf="!showNewComment" pButton pRipple label="COMENTAR Y PUNTUAR" [disabled]="owned"
                        class="p-button-sm p-button-warning d-sm-none" [routerLink]="['.']" fragment="comments"
                        (click)="showNewComment = true"></button>
                    <div *ngIf="showNewComment && !owned" class="custom-card d-flex flex-column">
                        <form [formGroup]="commentForm" (submit)="enviarComentario()">
                            <div>
                                <p class="text-justify font-italic">
                                    Recuerda que una vez envíado, el comentario no se podrá modificar ni eliminar. Sé
                                    amable y educado, y que tus críticas sean constructivas.
                                </p>
                            </div>
                            <div class="d-flex flex-column">
                                <span class="p-input-filled p-float-label mt-4">
                                    <input pInputText id="nombre" type="text" formControlName="nombre" class="w-100"
                                        maxlength="62"
                                        [ngClass]="(submittedCommentForm && commentForm.get('nombre')?.invalid) ? 'ng-dirty ng-invalid' : ''">
                                    <label for="nombre">Nombre</label>
                                </span>
                                <span class="p-input-filled p-float-label mt-4-5">
                                    <input pInputText id="celular" type="tel" formControlName="celular" class="w-100"
                                        maxlength="10"
                                        [ngClass]="(submittedCommentForm && commentForm.get('celular')?.invalid) ? 'ng-dirty ng-invalid' : ''">
                                    <label for="celular">Número celular</label>
                                </span>
                                <span class="mt-4-5 position-relative">
                                    <label class="comment-punt-label mb-0" for="puntuacion"
                                        [ngClass]="(submittedCommentForm && commentForm.get('puntuacion')?.invalid) ? 'ng-dirty ng-invalid' : ''">Puntuación
                                        <span class="text-danger">*</span></label>
                                    <div class="comment-punt"
                                        [ngClass]="(submittedCommentForm && commentForm.get('puntuacion')?.invalid) ? 'ng-dirty ng-invalid' : ''">
                                        <ngb-rating id="puntuacion" formControlName="puntuacion" name="puntuacion"
                                            [max]="5">
                                            <ng-template let-fill="fill" let-index="index">
                                                <span class="star new-comment"
                                                    [class.full]="fill === 100">&#9733;</span>
                                            </ng-template>
                                        </ngb-rating>
                                    </div>
                                </span>
                                <span class="p-input-filled p-float-label mt-4-5">
                                    <textarea pInputTextarea id="texto" [rows]="4" formControlName="texto" class="w-100"
                                        maxlength="500"
                                        [ngClass]="(submittedCommentForm && commentForm.get('texto')?.invalid) ? 'ng-dirty ng-invalid' : ''"></textarea>
                                    <label for="texto">Mensaje <span class="text-danger">*</span></label>
                                </span>
                                <div>
                                    <small class="font-italic"><span class="text-danger">*</span> Estos campos no pueden
                                        estar vacios.</small>
                                </div>
                                <div class="d-flex flex-column-reverse flex-sm-row justify-content-sm-end gap-2 mt-3">
                                    <button pButton pRipple type="button" label="Cancelar" icon="pi pi-times"
                                        [disabled]="sendingCommentForm" class="p-button-danger button-responsive"
                                        (click)="showNewComment = false; submittedCommentForm = false; commentForm.reset();">
                                    </button>
                                    <button pButton pRipple type="submit" label="Enviar" icon="pi pi-send"
                                        [disabled]="sendingCommentForm" [loading]="sendingCommentForm"
                                        class="p-button button-responsive">
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div *ngIf="comentarios === null" class="custom-card text-center">
                        <h5 class="mb-0">Aún no hay comentarios.</h5>
                    </div>
                    <div *ngIf="comentarios !== null" class="d-flex flex-column gap-3">
                        <div *ngFor="let coment of comentarios.rows" class="custom-card"
                            [ngClass]="coment.oculto ? 'opacity-50' : ''">
                            <div class="d-flex gap-3 justify-content-between">
                                <h5>{{ coment.nombre }}</h5>
                                <div class="d-flex gap-1">
                                    <div class="d-flex flex-column">
                                        <small class="text-right fecha">{{ coment.creado | date:'dd/LL/YYYY' }}</small>
                                        <small class="text-right fecha">{{ coment.creado | date:'HH:mm' }}</small>
                                    </div>
                                    <button *ngIf="owned && !coment.oculto" pButton pRipple icon="pi pi-eye-slash"
                                        class="d-sm-none p-button-sm xs-adapt-button"
                                        (click)="cambiarEstadoComentario(coment)"
                                        [disabled]="updatingComment == coment.id || loadingComments"
                                        [loading]="updatingComment == coment.id"></button>
                                    <button *ngIf="owned && !coment.oculto" pButton pRipple label="Ocultar"
                                        icon="pi pi-eye-slash" class="d-none d-sm-block p-button-sm xs-adapt-button"
                                        (click)="cambiarEstadoComentario(coment)"
                                        [disabled]="updatingComment == coment.id || loadingComments"
                                        [loading]="updatingComment == coment.id"></button>
                                    <button *ngIf="owned && coment.oculto" pButton pRipple icon="pi pi-eye"
                                        class="d-sm-none p-button-sm xs-adapt-button"
                                        (click)="cambiarEstadoComentario(coment)"
                                        [disabled]="updatingComment == coment.id || loadingComments"
                                        [loading]="updatingComment == coment.id"></button>
                                    <button *ngIf="owned && coment.oculto" pButton pRipple label="Mostrar"
                                        icon="pi pi-eye" class="d-none d-sm-block p-button-sm xs-adapt-button"
                                        (click)="cambiarEstadoComentario(coment)"
                                        [disabled]="updatingComment == coment.id || loadingComments"
                                        [loading]="updatingComment == coment.id"></button>
                                </div>
                            </div>
                            <ng-template #t let-fill="fill">
                                <span class="star" [class.full]="fill === 100">
                                    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                </span>
                            </ng-template>
                            <ngb-rating [(rate)]="coment.puntuacion" [starTemplate]="t" [readonly]="true" [max]="5">
                            </ngb-rating>
                            <p *ngIf="owned" class="mb-1"><span class="font-weight-bold">Celular:</span> {{
                                coment.celular ?
                                '+' + coment.celular.substring(0,3) + ' ' + coment.celular.substring(3, 5) + ' ' +
                                coment.celular.substring(5, 8) + ' ' + coment.celular.substring(8) : 'No ingresado' }}
                            </p>
                            <p class="mb-0 text-justify">{{ coment.texto }}</p>
                        </div>
                        <!--<p-paginator class="d-sm-none"
                            [ngClass]="loadingComments ? 'disable-pagination' : ''" [rows]="commentsRows"
                            [first]="commentsCurrentPage" [totalRecords]="comentarios.count"
                            [rowsPerPageOptions]="[5,10,15,{showAll:'Todos'}]" [pageLinkSize]="1" [dropdownScrollHeight]="''"
                            (onPageChange)="paginacionComentarios($event)">
                        </p-paginator>-->
                        <p-paginator class="d-sm-none" [ngClass]="loadingComments ? 'disable-pagination' : ''"
                            [rows]="commentsRows" [first]="commentsCurrentPage" [totalRecords]="comentarios.count"
                            [rowsPerPageOptions]="[5,10,15,{showAll:'Todos'}]" [dropdownScrollHeight]="''"
                            [showPageLinks]="false" [showJumpToPageDropdown]="true" [showFirstLastIcon]="false"
                            currentPageReportTemplate="{currentPage} / {totalPages}"
                            (onPageChange)="paginacionComentarios($event)">
                        </p-paginator>
                        <p-paginator class="d-none d-sm-block d-md-none d-lg-block d-xl-none"
                            [ngClass]="loadingComments ? 'disable-pagination' : ''" [rows]="commentsRows"
                            [first]="commentsCurrentPage" [totalRecords]="comentarios.count"
                            [rowsPerPageOptions]="[5,10,15,{showAll:'Todos'}]" [pageLinkSize]="3"
                            [dropdownScrollHeight]="''" (onPageChange)="paginacionComentarios($event)">
                        </p-paginator>
                        <p-paginator class="d-none d-md-block d-lg-none d-xl-block"
                            [ngClass]="loadingComments ? 'disable-pagination' : ''" [rows]="commentsRows"
                            [first]="commentsCurrentPage" [totalRecords]="comentarios.count"
                            [rowsPerPageOptions]="[5,10,15,{showAll:'Todos'}]" [dropdownScrollHeight]="''"
                            (onPageChange)="paginacionComentarios($event)">
                        </p-paginator>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column">
            <div class="py-2-5 py-sm-3 pt-lg-0 pb-lg-4">
                <h3>Más del vendedor</h3>
                <div class="d-flex flex-wrap gap-3 justify-content-start align-items-stretch">
                    <app-product-card *ngFor="let product of productosVendedor" [product]="product"
                        class="related-content"></app-product-card>
                </div>
            </div>
            <div class="pt-2-5 pt-sm-3 pt-lg-4">
                <h3>Relacionado</h3>
                <div class="d-flex flex-wrap gap-3 justify-content-start align-items-stretch">
                    <app-product-card *ngFor="let product of productosRelacionados" [product]="product"
                        class="related-content"></app-product-card>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footbar></app-footbar>