<p-galleria [value]="product.fotos" [circular]="true" [showItemNavigators]="product.fotos.length > 1 ? true : false"
    [showThumbnails]="false" [showIndicators]="false" [changeItemOnIndicatorHover]="true" [showIndicatorsOnItem]="true">
    <ng-template pTemplate="item" let-item>
        <a [routerLink]="['/product', product.id]" class="w-100">
            <div class="image-galleria-template d-flex justify-content-center align-items-center" [ngClass]="related ? 'related-content' : ''">
                <img [src]="mediaUrl + item" />
            </div>
        </a>
    </ng-template>
</p-galleria>
<a [routerLink]="['/product', product.id]">
    <div class="custom-card p-4 d-flex flex-column" [ngClass]="related ? 'related-content' : ''">
        <h2 *ngIf="product.precio">$ {{product.precio}}</h2>
        <h2 *ngIf="!product.precio">$ 0.00</h2>
        <h5 *ngIf="product.titulo" class="h-100">{{product.titulo}}</h5>
        <h5 *ngIf="!product.titulo" class="h-100">Sin título</h5>
        <small *ngIf="product.usuario.negocio && showOwner">{{product.usuario.negocio}}</small>
        <small *ngIf="!product.usuario.negocio && showOwner">{{product.usuario.nombre}} {{product.usuario.apellido}}</small>
        <!--TODO: Agregar funcinoalidad para editar, ocultar y eliminar productos.-->
    </div>
</a>