<div class="bg-lighter">
    <div class="container-md container-full-height text-center d-flex flex-column justify-content-center">
        <div class="py-3 custom-card">
            <img class="mx-auto my-3" src="../../../assets/img/not-allowed-image.png" alt="not-found">
            <h3>Acceso no permitido</h3>
            <p class="mx-auto" [ngClass]="!isLogged ? 'mb-0' : ''">No tiene suficientes permisos acceder a este
                contenido.
            </p>
            <p *ngIf="!isLogged" class="mx-auto">Inicia sesión para verificar tu identidad.</p>
            <div class="d-block d-sm-flex justify-content-center flex-row-reverse">
                <a *ngIf="!isLogged" class="link-button mx-sm-3" [routerLink]="['/login']"
                    [queryParams]="{ back: true }">
                    <button pButton pRipple type="button" label="Iniciar sesión" icon="pi pi-sign-in"
                        class="p-button-lg mb-3 button-responsive"></button>
                </a>
                <a class="link-button mx-sm-3" (click)="goBack()">
                    <button pButton pRipple type="button" label="Volver" icon="pi pi-arrow-circle-left"
                        class="p-button-lg mb-3 button-responsive"></button>
                </a>
            </div>
        </div>
    </div>
</div>