<div class="bg-lighter">
    <div class="container-sm container-full-height py-3 py-sm-4 py-lg-5 text-center d-flex flex-column justify-content-center">
        <div class="custom-card">
            <img class="mx-auto mb-3" src="../../../assets/img/not-found-image.png" alt="not-found">
            <h3>Página no encontrada</h3>
            <p class="mx-auto">Parece que esta página no existe o ha sido movida a otra dirección.</p>
            <a class="link-button mx-auto" (click)="goBack()">
                <button pButton pRipple type="button" label="Volver" icon="pi pi-arrow-circle-left"
                    class="p-button-lg button-responsive"></button>
            </a>
        </div>
    </div>
</div>