<div class="container-fliud bg-darker px-sm-5 py-3 footbar">
    <div class="d-sm-flex justify-content-between">
        <div class="text-center my-2">
            <small>Una iniciativa de:</small>
            <div class="d-flex justify-content-center align-items-center">
                <img class="apada-logo-footbar mr-2" src="../../../assets/img/apada-logo-transparent.png"
                    alt="Apada Guayas logo">
                <p class="d-inline mb-0">APADA - Guayas</p>
            </div>
        </div>
        <div class="text-center my-2">
            <small>Redes sociales:</small>
            <div>
                <a class="link-button footbar-button" target="_blank" href="https://www.facebook.com/APADAGUAYAS">
                    <p-button styleClass="p-2 mx-1">
                        <ng-template pTemplate="content">
                            <i class="pi pi-facebook" style="font-size: 1.75rem"></i>
                        </ng-template>
                    </p-button>
                </a>
                <a class="link-button footbar-button" target="_blank" href="https://twitter.com/apadaguayas">
                    <p-button styleClass="p-2 mx-1">
                        <ng-template pTemplate="content">
                            <i class="pi pi-twitter" style="font-size: 1.75rem"></i>
                        </ng-template>
                    </p-button>
                </a>
                <a class="link-button footbar-button" target="_blank" href="https://www.instagram.com/apadaguayas/">
                    <p-button styleClass="p-2 mx-1">
                        <ng-template pTemplate="content">
                            <i class="pi pi-instagram" style="font-size: 1.75rem"></i>
                        </ng-template>
                    </p-button>
                </a>
                <a class="link-button footbar-button" target="_blank"
                    href="https://www.youtube.com/channel/UCNAe4WQhvISlPI1DtwttAQg">
                    <p-button styleClass="p-2 mx-1">
                        <ng-template pTemplate="content">
                            <i class="pi pi-youtube" style="font-size: 1.75rem"></i>
                        </ng-template>
                    </p-button>
                </a>
                <!--<a class="link-button footbar-button" target="_blank" href="mailto:apadaec@gmail.com">
                    <p-button styleClass="p-2 mx-1">
                        <ng-template pTemplate="content">
                            <i class="pi pi-envelope" style="font-size: 1.75rem"></i>
                        </ng-template>
                    </p-button>
                </a>-->
                <!--<a class="link-button" target="_blank" href="https://www.facebook.com/APADAGUAYAS">
                    <button pButton pRipple type="button" icon="pi pi-facebook" class="p-button-rounded navbar-button mx-1"></button>
                </a>
                <a class="link-button" target="_blank" href="https://twitter.com/apadaguayas">
                    <button pButton pRipple type="button" icon="pi pi-twitter" class="p-button-rounded navbar-button mx-1"></button>
                </a>
                <a class="link-button" target="_blank" href="https://www.instagram.com/apadaguayas/">
                    <button pButton pRipple type="button" icon="pi pi-instagram" class="p-button-rounded navbar-button mx-1"></button>
                </a>
                <a class="link-button" target="_blank" href="https://www.youtube.com/channel/UCNAe4WQhvISlPI1DtwttAQg">
                    <button pButton pRipple type="button" icon="pi pi-youtube" class="p-button-rounded navbar-button mx-1"></button>
                </a>
                <a class="link-button" target="_blank" href="mailto:apadaec@gmail.com">
                    <button pButton pRipple type="button" icon="pi pi-envelope" class="p-button-rounded navbar-button mx-1"></button>
                </a>-->
            </div>
        </div>
    </div>
    <div class="text-center">
        <small>&copy; 2022 Emprende Store</small>
    </div>
</div>