/* You can add global styles to this file, and also import other style files */
:root {
  --lighter: rgb(174, 192, 228);
  --primary: rgb(36, 70, 157);
  --darker: rgb(46, 47, 97);
}

html,
body {
  height: 100%;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 1rem;
  font-weight: normal;
  color: #495057;
}
html {
  scroll-behavior: smooth;
 }
body {
  margin: 0;
  padding-top: 4.125rem;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
button {
  border-radius: 50px !important;
}

.bg-primary {
  background-color: #22469e !important;
}
.bg-primary-hover:hover {
  background-color: #1d3c87 !important;
}
.bg-darker {
  background-color: #2d2f60 !important;
}
.bg-darker-hover:hover {
  background-color: #25264f !important;
}
.bg-lighter {
  background-color: #aec0e4 !important;
}

.gap-auto {
  gap: auto;
}
.gap-0 {
  gap: 0;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 1rem;
}
.gap-4 {
  gap: 1.5rem;
}
.gap-5 {
  gap: 3rem;
}
@media (min-width: 768px) {
  .gap-md-4 {
    gap: 1.5rem;
  }
}
@media (min-width: 992px) {
  .gap-lg-4 {
    gap: 1.5rem;
  }
  .gap-lg-5 {
    gap: 3rem;
  }
}

.container-full-height {
  min-height: calc(100vh - 17rem);
}
@media (min-width: 576px) {
  .container-full-height {
    min-height: calc(100vh - 12.125rem);
  }
}

.custom-card {
  padding: 1rem;
  border-radius: 25px;
  background-color: #ffffff;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
}
@media (min-width: 576px) {
  .custom-card {
    padding: 1.5rem;
  }
}
@media (min-width: 992px) {
  .custom-card {
    padding: 2rem;
  }
}

app-product-card {
  border-radius: 25px;
  width: 100%;
}
app-product-card:hover {
  box-shadow: 0 0 11px var(--primary);
}
.bg-primary app-product-card:hover {
  box-shadow: 0 0 11px var(--lighter);
}
@media (min-width: 576px) {
  app-product-card {
    width: auto;
  }
}

.p-accordion-header-link {
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
}
.p-accordion-content {
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
}
.p-accordion p-accordiontab .p-accordion-tab {
  margin-bottom: 0.5rem;
}
.p-accordion p-accordiontab:last-of-type .p-accordion-tab {
  margin-bottom: 0;
}

.nav-link span {
  white-space: nowrap;
}

.link-button:hover {
  text-decoration: none !important;
}

.footbar-button button {
  background: #2d2f60;
  border: 1px solid #2d2f60;
}
.footbar-button button:enabled:hover {
  background: #25264f;
  border-color: #25264f;
}
.footbar-button button:enabled:active {
  background: #454669;
  border-color: #454669;
}

.button-icon {
  padding: 1rem;
}

.no-label > .p-button-label {
  display: none;
}
.no-icon > .p-button-icon {
  display: none;
}

.p-toast.p-toast-bottom-center {
  width: calc(100vw - 2rem);
  bottom: 0;
  z-index: 90!important;
}

.p-dialog .p-dialog-footer button {
  width: 100%;
  margin: 0;
}
.button-dialog-container {
  height: 7rem;
}

.xs-button {
  padding: 0.25rem 0.5rem !important;
}

.xs-adapt-button {
  max-height: 32px;
  padding: 0.25rem 0.5rem !important;
}

.p-button.button-responsive {
  width: 100%;
}

@media (min-width: 576px) {
  .p-toast.p-toast-bottom-center {
    width: 25rem;
    right: 1rem;
    left: auto;
    transform: none;
  }

  .p-dialog .p-dialog-footer button {
    margin: 0 0 0 0.5rem;
    width: 9rem;
  }

  .button-dialog-container {
    height: auto;
  }

  .p-button.button-responsive {
    width: auto;
  }
}

.small-link {
  font-size: small;
  color: #495057;
}

.small-link:hover {
  color: #22469e;
}

.mt-4-5 {
  margin-top: 2rem !important;
}

.c-pointer {
  cursor: pointer;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight,
.p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  border-radius: 25px;
}

.p-galleria .p-galleria-item-nav {
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
}
.p-galleria-indicator-onitem.p-galleria-indicators-bottom
  .p-galleria-indicators {
  border-radius: 0 0 25px 25px;
}
.p-galleria-indicator-onitem.p-galleria-indicators-bottom
  .p-galleria-indicators {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 0.5rem;
}
.p-galleria.p-galleria-indicators-bottom .p-galleria-indicator {
  margin: 0;
}
.p-galleria .p-galleria-item-nav {
  height: 2.5rem;
  width: 2.5rem;
  display: none;
}
.p-galleria:hover .p-galleria-item-nav {
  display: inline-flex;
}
@media (pointer:coarse) {
  .p-galleria .p-galleria-item-nav {
    display: inline-flex;
  }
}
.p-galleria .p-galleria-item-nav .p-galleria-item-prev-icon,
.p-galleria .p-galleria-item-nav .p-galleria-item-next-icon {
  font-size: 1.3rem;
}
app-product-card .p-galleria .p-galleria-item-nav {
  height: 2rem;
  width: 2rem;
}
app-product-card .p-galleria .p-galleria-item-nav .p-galleria-item-prev-icon,
app-product-card .p-galleria .p-galleria-item-nav .p-galleria-item-next-icon {
  font-size: 1rem;
}

.p-tabmenu .p-tabmenu-nav {
  background-color: transparent;
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  background-color: transparent;
  white-space: nowrap;
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  background-color: transparent;
}