/* You can add global styles to this file, and also import other style files */
:root {
  --lighter: rgb(174, 192, 228);
  --primary: rgb(36, 70, 157);
  --darker: rgb(46, 47, 97);
}

html,
body {
  height: 100%;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 1rem;
  font-weight: normal;
  color: #495057;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding-top: 4.125rem;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
button {
  border-radius: 50px !important;
}

.bg-primary {
  background-color: #22469e !important;
}
.bg-primary-hover:hover {
  background-color: #1d3c87 !important;
}
.bg-darker {
  background-color: #2d2f60 !important;
}
.bg-darker-hover:hover {
  background-color: #25264f !important;
}
.bg-lighter {
  background-color: #aec0e4 !important;
}

.opacity-50 {
  opacity: 0.5;
}

.gap-0 {
  gap: 0;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 1rem;
}
.gap-4 {
  gap: 1.5rem;
}
.gap-5 {
  gap: 3rem;
}
@media (min-width: 576px) {
  .gap-sm-0 {
    gap: 0;
  }
  .gap-sm-1 {
    gap: 0.25rem;
  }
  .gap-sm-2 {
    gap: 0.5rem;
  }
  .gap-sm-3 {
    gap: 1rem;
  }
  .gap-sm-4 {
    gap: 1.5rem;
  }
  .gap-sm-5 {
    gap: 3rem;
  }
}
@media (min-width: 768px) {
  .gap-md-0 {
    gap: 0;
  }
  .gap-md-1 {
    gap: 0.25rem;
  }
  .gap-md-2 {
    gap: 0.5rem;
  }
  .gap-md-3 {
    gap: 1rem;
  }
  .gap-md-4 {
    gap: 1.5rem;
  }
  .gap-md-5 {
    gap: 3rem;
  }
}
@media (min-width: 992px) {
  .gap-lg-0 {
    gap: 0;
  }
  .gap-lg-1 {
    gap: 0.25rem;
  }
  .gap-lg-2 {
    gap: 0.5rem;
  }
  .gap-lg-3 {
    gap: 1rem;
  }
  .gap-lg-4 {
    gap: 1.5rem;
  }
  .gap-lg-5 {
    gap: 3rem;
  }
}

.m-2-5 {
  margin: 0.75rem;
}
.mt-2-5 {
  margin-top: 0.75rem;
}
.mb-2-5 {
  margin-bottom: 0.75rem;
}
.my-2-5 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.ml-2-5 {
  margin-left: 0.75rem;
}
.mr-2-5 {
  margin-right: 0.75rem;
}
.mx-2-5 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.m-4-5 {
  margin: 2rem;
}
.mt-4-5 {
  margin-top: 2rem;
}
.mb-4-5 {
  margin-bottom: 2rem;
}
.my-4-5 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.ml-4-5 {
  margin-left: 2rem;
}
.mr-4-5 {
  margin-right: 2rem;
}
.mx-4-5 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.p-2-5 {
  padding: 0.75rem;
}
.pt-2-5 {
  padding-top: 0.75rem;
}
.pb-2-5 {
  padding-bottom: 0.75rem;
}
.py-2-5 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.pl-2-5 {
  padding-left: 0.75rem;
}
.pr-2-5 {
  padding-right: 0.75rem;
}
.px-2-5 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.p-4-5 {
  padding: 2rem;
}
.pt-4-5 {
  padding-top: 2rem;
}
.pb-4-5 {
  padding-bottom: 2rem;
}
.py-4-5 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.pl-4-5 {
  padding-left: 2rem;
}
.pr-4-5 {
  padding-right: 2rem;
}
.px-4-5 {
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (min-width: 576px) {
  .m-sm-2-5 {
    margin: 0.75rem;
  }
  .mt-sm-2-5 {
    margin-top: 0.75rem;
  }
  .mb-sm-2-5 {
    margin-bottom: 0.75rem;
  }
  .my-sm-2-5 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
  .ml-sm-2-5 {
    margin-left: 0.75rem;
  }
  .mr-sm-2-5 {
    margin-right: 0.75rem;
  }
  .mx-sm-2-5 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
  .m-sm-4-5 {
    margin: 2rem;
  }
  .mt-sm-4-5 {
    margin-top: 2rem;
  }
  .mb-sm-4-5 {
    margin-bottom: 2rem;
  }
  .my-sm-4-5 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .ml-sm-4-5 {
    margin-left: 2rem;
  }
  .mr-sm-4-5 {
    margin-right: 2rem;
  }
  .mx-sm-4-5 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .p-sm-2-5 {
    padding: 0.75rem;
  }
  .pt-sm-2-5 {
    padding-top: 0.75rem;
  }
  .pb-sm-2-5 {
    padding-bottom: 0.75rem;
  }
  .py-sm-2-5 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  .pl-sm-2-5 {
    padding-left: 0.75rem;
  }
  .pr-sm-2-5 {
    padding-right: 0.75rem;
  }
  .px-sm-2-5 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .p-sm-4-5 {
    padding: 2rem;
  }
  .pt-sm-4-5 {
    padding-top: 2rem;
  }
  .pb-sm-4-5 {
    padding-bottom: 2rem;
  }
  .py-sm-4-5 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .pl-sm-4-5 {
    padding-left: 2rem;
  }
  .pr-sm-4-5 {
    padding-right: 2rem;
  }
  .px-sm-4-5 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 768px) {
  .m-md-2-5 {
    margin: 0.75rem;
  }
  .mt-md-2-5 {
    margin-top: 0.75rem;
  }
  .mb-md-2-5 {
    margin-bottom: 0.75rem;
  }
  .my-md-2-5 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
  .ml-md-2-5 {
    margin-left: 0.75rem;
  }
  .mr-md-2-5 {
    margin-right: 0.75rem;
  }
  .mx-md-2-5 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
  .m-md-4-5 {
    margin: 2rem;
  }
  .mt-md-4-5 {
    margin-top: 2rem;
  }
  .mb-md-4-5 {
    margin-bottom: 2rem;
  }
  .my-md-4-5 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .ml-md-4-5 {
    margin-left: 2rem;
  }
  .mr-md-4-5 {
    margin-right: 2rem;
  }
  .mx-md-4-5 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .p-md-2-5 {
    padding: 0.75rem;
  }
  .pt-md-2-5 {
    padding-top: 0.75rem;
  }
  .pb-md-2-5 {
    padding-bottom: 0.75rem;
  }
  .py-md-2-5 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  .pl-md-2-5 {
    padding-left: 0.75rem;
  }
  .pr-md-2-5 {
    padding-right: 0.75rem;
  }
  .px-md-2-5 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .p-md-4-5 {
    padding: 2rem;
  }
  .pt-md-4-5 {
    padding-top: 2rem;
  }
  .pb-md-4-5 {
    padding-bottom: 2rem;
  }
  .py-md-4-5 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .pl-md-4-5 {
    padding-left: 2rem;
  }
  .pr-md-4-5 {
    padding-right: 2rem;
  }
  .px-md-4-5 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .m-lg-2-5 {
    margin: 0.75rem;
  }
  .mt-lg-2-5 {
    margin-top: 0.75rem;
  }
  .mb-lg-2-5 {
    margin-bottom: 0.75rem;
  }
  .my-lg-2-5 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
  .ml-lg-2-5 {
    margin-left: 0.75rem;
  }
  .mr-lg-2-5 {
    margin-right: 0.75rem;
  }
  .mx-lg-2-5 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
  .m-lg-4-5 {
    margin: 2rem;
  }
  .mt-lg-4-5 {
    margin-top: 2rem;
  }
  .mb-lg-4-5 {
    margin-bottom: 2rem;
  }
  .my-lg-4-5 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .ml-lg-4-5 {
    margin-left: 2rem;
  }
  .mr-lg-4-5 {
    margin-right: 2rem;
  }
  .mx-lg-4-5 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .p-lg-2-5 {
    padding: 0.75rem;
  }
  .pt-lg-2-5 {
    padding-top: 0.75rem;
  }
  .pb-lg-2-5 {
    padding-bottom: 0.75rem;
  }
  .py-lg-2-5 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  .pl-lg-2-5 {
    padding-left: 0.75rem;
  }
  .pr-lg-2-5 {
    padding-right: 0.75rem;
  }
  .px-lg-2-5 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .p-lg-4-5 {
    padding: 2rem;
  }
  .pt-lg-4-5 {
    padding-top: 2rem;
  }
  .pb-lg-4-5 {
    padding-bottom: 2rem;
  }
  .py-lg-4-5 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .pl-lg-4-5 {
    padding-left: 2rem;
  }
  .pr-lg-4-5 {
    padding-right: 2rem;
  }
  .px-lg-4-5 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.container-full-height {
  min-height: calc(100vh - 17rem);
}
@media (min-width: 576px) {
  .container-full-height {
    min-height: calc(100vh - 12.125rem);
  }
}

.p-accordion-header-link, .p-accordion-content, .p-paginator.p-component, .custom-card {
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
}

.custom-card {
  padding: 1rem;
  border-radius: 25px;
  background-color: #ffffff;
}
@media (min-width: 576px) {
  .custom-card {
    padding: 1.5rem;
  }
}
@media (min-width: 992px) {
  .custom-card {
    padding: 2rem;
  }
}

.discount-card {
  border: solid 4px var(--warning);
}
.no-border-top {
  border-top: none;
  border-width: 2px;
}
.no-border-bottom {
  border-bottom: none;
  border-width: 2px;
}

.p-accordion p-accordiontab .p-accordion-tab {
  margin-bottom: 0.5rem;
}
.p-accordion p-accordiontab:last-of-type .p-accordion-tab {
  margin-bottom: 0;
}

.p-paginator.p-component {
  padding-left: 0;
  padding-right: 0;
}

.disable-pagination {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.7;
}

.nav-link span {
  white-space: nowrap;
}

.link-button:hover {
  text-decoration: none !important;
}

.profile-network-button button{
  background-color: #ffffff;
  color: var(--primary);
  border: 1px solid #ffffff;
}

.footbar-button button {
  background: #2d2f60;
  border: 1px solid #2d2f60;
}
.footbar-button button:enabled:hover {
  background: #25264f;
  border-color: #25264f;
}
.footbar-button button:enabled:active {
  background: #454669;
  border-color: #454669;
}

.button-icon {
  padding: 1rem;
}

.no-label > .p-button-label {
  display: none;
}
.no-icon > .p-button-icon {
  display: none;
}

.p-button {
  justify-content: center;
}
.p-button-label {
  flex: none !important;
}

.select-button-2 .p-button {
  width: 50%;
}
.select-button-3 .p-button {
  width: 33.333%;
}
.select-button-4 .p-button {
  width: 25%;
}

.p-toast.p-toast-bottom-center {
  width: calc(100vw - 2rem);
  bottom: 0;
  z-index: 90 !important;
}

.p-dialog .p-dialog-footer button {
  width: 100%;
  margin: 0;
}
.button-dialog-container {
  height: 7rem;
}

.xs-button {
  padding: 0.25rem 0.5rem !important;
}

.xs-adapt-button {
  max-height: 32px;
  padding: 0.25rem 0.5rem !important;
}

a.link-button-responsive {
  width: 100%;
}

.p-button.button-responsive {
  width: 100%;
}

@media (min-width: 576px) {
  .p-toast.p-toast-bottom-center {
    width: 25rem;
    right: 1rem;
    left: auto;
    transform: none;
  }

  .p-dialog .p-dialog-footer button {
    margin: 0 0 0 0.5rem;
    width: 9rem;
  }

  .button-dialog-container {
    height: auto;
  }

  a.link-button-responsive {
    width: auto;
  }

  .p-button.button-responsive {
    width: auto;
  }
}

a p-chip:hover .p-chip-text {
  color: var(--primary);
}

.product-category-chip {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.product-category-chip:hover {
  background-color: var(--lighter);
}

.product-category-chip .p-chip-text {
  font-size: 0.92rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.small-link {
  font-size: 1rem;
  color: #495057;
}

.small-link:hover {
  color: #22469e;
}

.c-pointer {
  cursor: pointer;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight,
.p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  border-radius: 25px;
}

.p-galleria .p-galleria-item-nav {
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
}
.p-galleria-indicator-onitem.p-galleria-indicators-bottom
  .p-galleria-indicators {
  border-radius: 0 0 25px 25px;
}
.p-galleria-indicator-onitem.p-galleria-indicators-bottom
  .p-galleria-indicators {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 0.5rem;
}
.p-galleria.p-galleria-indicators-bottom .p-galleria-indicator {
  margin: 0;
}
.p-galleria .p-galleria-item-nav {
  height: 2.5rem;
  width: 2.5rem;
  display: none;
}
.p-galleria:hover .p-galleria-item-nav {
  display: inline-flex;
}
@media (pointer: coarse) {
  .p-galleria .p-galleria-item-nav {
    display: inline-flex;
  }
}
.p-galleria .p-galleria-item-nav .p-galleria-item-prev-icon,
.p-galleria .p-galleria-item-nav .p-galleria-item-next-icon {
  font-size: 1.3rem;
}
app-product-card .p-galleria .p-galleria-item-nav {
  height: 2rem;
  width: 2rem;
}
app-product-card .p-galleria .p-galleria-item-nav .p-galleria-item-prev-icon,
app-product-card .p-galleria .p-galleria-item-nav .p-galleria-item-next-icon {
  font-size: 1rem;
}

app-product-card {
  border-radius: 25px;
  width: calc(50% - 0.5rem);
}
app-product-card:hover {
  box-shadow: 0 0 11px var(--primary);
}
.bg-primary app-product-card:hover {
  box-shadow: 0 0 11px var(--lighter);
}
@media (min-width: 768px) {
  app-product-card {
    width: calc(33.33333% - 0.66666rem);
  }
}
@media (min-width: 992px) {
  app-product-card {
    width: calc(25% - 1.125rem);
  }
}
/*@media (min-width: 1200px) {
  app-product-card {
    width: calc(20% - 1.2rem);
  }
}*/
app-product-card.related-content {
  width: calc(50% - 0.5rem);
}
@media (min-width: 768px) {
  app-product-card.related-content {
    width: calc(25% - 0.75rem);
  }
  app-product-card.related-content .image-galleria-template {
    height: 8rem !important;
  }
  app-product-card.related-content .custom-card {
    height: calc(100% - 8rem) !important;
    padding: 1rem !important;
  }
}
@media (min-width: 992px) {
  app-product-card.related-content {
    width: calc(50% - 0.5rem);
  }
  app-product-card.related-content .image-galleria-template {
    height: 7.5rem !important;
  }
  app-product-card.related-content .custom-card {
    height: calc(100% - 7.5rem) !important;
  }
}
@media (min-width: 1200px) {
  app-product-card.related-content .image-galleria-template {
    height: 9rem !important;
  }
  app-product-card.related-content .custom-card {
    height: calc(100% - 9rem) !important;
  }
}

.p-tabmenu .p-tabmenu-nav {
  background-color: transparent;
  justify-content: space-around;
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  background-color: transparent;
  white-space: nowrap;
  justify-content: center;
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem {
  width: 25%;
}
.p-menuitem-text {
  display: none;
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link .p-menuitem-icon {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .p-menuitem-text {
    display: block;
  }
  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link .p-menuitem-icon {
    margin-left: 0;
    margin-right: 0.5rem;
  }
}
