<app-navbar></app-navbar>

<div class="bg-primary">
    <div class="container-sm py-3 py-sm-4 py-lg-5">
        <h2 class="text-white">Destacados</h2>
        <div class="d-flex flex-wrap gap-3 gap-lg-4 justify-content-start align-items-stretch">
            <app-product-card *ngFor="let product of productosDestacados" [product]="product"></app-product-card>
        </div>
    </div>
</div>

<div class="bg-lighter">
    <div class="container-sm py-3 py-sm-4 py-lg-5">
        <h2>Categorias</h2>
        <div class="d-flex flex-column flex-md-row gap-2">
            <div class="w-100 d-flex flex-column">
                <h4 class="text-md-center">Productos</h4>
                <div class="d-flex flex-wrap gap-3 justify-content-center align-items-center">
                    <a *ngFor="let categ of categProductos" [routerLink]="['/store']">
                        <button pButton pRipple label="{{categ}}" class="p-button p-button-sm link-button"></button>
                    </a>
                </div>
            </div>
            <p-divider class="d-md-none"></p-divider>
            <p-divider class="d-none d-md-block" layout="vertical"></p-divider>
            <div class="w-100 d-flex flex-column">
                <h4 class="text-md-center">Servicios</h4>
                <div class="d-flex flex-wrap gap-3 justify-content-center align-items-center">
                    <a *ngFor="let categ of categServicios" [routerLink]="['/store']">
                        <button pButton pRipple label="{{categ}}" class="p-button p-button-sm link-button"></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-primary">
    <div class="container-sm py-3 py-sm-4 py-lg-5">
        <h2 class="text-white">Más vendidos</h2>
        <div class="d-flex flex-wrap gap-3 gap-lg-4 justify-content-start align-items-stretch">
            <app-product-card *ngFor="let product of masVendidos" [product]="product"></app-product-card>
        </div>
    </div>
</div>

<div class="bg-lighter">
    <div class="container-sm py-3 py-sm-4 py-lg-5">
        <h2>Últimas Novedades</h2>
        <div class="d-flex flex-wrap gap-3 gap-lg-4 justify-content-start align-items-stretch">
            <app-product-card *ngFor="let product of novedades" [product]="product"></app-product-card>
        </div>
    </div>
</div>

<app-footbar></app-footbar>