<app-navbar></app-navbar>
<header class="hero" id="start">
    <div class="banner" id="banner">
        <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" class="video">
            <source src="../../assets/video/Who decides how long a second is_ - John Kitching.mp4" type="video/mp4">
        </video>
    </div>
</header>
<!--/.header-->
<section class="about-us bg-lighter" id="about">
    <div class="content">
        <h2>Sobre Nosotros</h2>
        <p class="text-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo unde, officia veritatis,
            cupiditate soluta sit
            molestias dolor architecto impedit nam rem quis quam totam eaque sunt quae optio obcaecati illum! Lorem
            ipsum dolor sit amet consectetur, adipisicing elit. Placeat illo sint accusantium molestiae minus sit,
            tenetur quisquam? Quasi officia, asperiores a veritatis cupiditate consequatur eos impedit autem earum
            similique fuga.</p>
    </div>
</section>
<section class="contacto content" id="contacto">
    <h2>Contacto</h2>
    <div class="contact-icons">
        <div class="icon"><i class="bi bi-facebook"></i></div>
        <div class="icon"><i class="bi bi-instagram"></i></div>
        <div class="icon"><i class="bi bi-twitter"></i></div>
    </div>
</section>
<app-footbar></app-footbar>