video {
  border-radius: 25px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
}

@media (min-width: 992px) {
  video {
    width: 200rem;
  }
}

@media (min-width: 1200px) {
  video {
    width: 300rem;
  }
}

.apada-logo {
  max-width: 100%;
  width: 20rem;
}

.avatar-image {
  max-height: 3rem;
  border-radius: 100px;
}

.contact-form-textarea {
  height: 8rem;
}
.contact-form-textarea textarea {
  resize: none;
}

@media (min-width: 992px) {
  .contact-form {
    width: calc(50% - 1rem);
  }
  .contact-form-textarea {
    height: 100%;
  }
}
