<app-navbar></app-navbar>

<app-not-allowed *ngIf="notAllowed"></app-not-allowed>
<app-unexpected-error *ngIf="unexpected"></app-unexpected-error>

<div *ngIf="!notAllowed && !unexpected" class="bg-lighter container-full-height">
    <div class="container-sm pt-3">
        <p-tabMenu #tab [model]="items" [activeItem]="activeItem"></p-tabMenu>
    </div>

    <div *ngIf="activeItem.id == '1'" class="container-sm py-3 pt-lg-4 pb-lg-5">
        <div class="d-flex flex-column flex-md-row justify-content-between gap-3">
            <input pInputText type="text" placeholder="Filtrar por titulo">
            <button pButton pRipple label="Nueva Publicacion" icon="pi pi-plus"
                class="p-button button-responsive"></button>
        </div>
        <div class="pt-3 pt-lg-4">
            <div class="d-flex flex-wrap gap-3 gap-lg-4 justify-content-start align-items-stretch">
                <app-product-card *ngFor="let product of productos" [product]="product" [showOwner]="false"></app-product-card>
            </div>
        </div>
    </div>

    <div *ngIf="activeItem.id == '2'" class="container-sm py-3 pt-lg-4 pb-lg-5">
        <div class="d-flex flex-column flex-md-row justify-content-between gap-3">
            <input pInputText type="text" placeholder="Filtrar por titulo">
            <button pButton pRipple label="Nueva Publicacion" icon="pi pi-plus"
                class="p-button button-responsive"></button>
        </div>
        <div class="pt-3 pt-lg-4">
            <h4>Mostrando estadisticas desde {{inicio | date: 'dd/LL/YY'}} hasta {{final | date: 'dd/LL/YY'}}:</h4>
        </div>
        <div class="d-flex flex-column gap-3 text-center">
            <div class="d-flex flex-column flex-sm-row gap-3">
                <div class="custom-card w-100">
                    <h1>{{ visitasPerfil }}</h1>
                    <h5>Total de de visitas al perfil</h5>
                </div>
                <div class="custom-card w-100">
                    <ng-template #t let-fill="fill">
                        <span class="star" [class.full]="fill === 100">
                            <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                        </span>
                    </ng-template>
                    <div class="d-flex gap-2 justify-content-center align-items-center mb-2">
                        <ngb-rating [(rate)]="usuario.puntuacion" [starTemplate]="t" [readonly]="true" [max]="5">
                        </ngb-rating>
                        <h1 *ngIf="usuario.puntuacion !== null" class="mb-0">{{ usuario.puntuacion }}
                        </h1>
                        <h6 *ngIf="usuario.puntuacion === null" class="mb-0 font-weight-normal">No hay datos</h6>
                    </div>
                    <h5>Promedio de Calificaciones</h5>
                </div>
            </div>
            <div class="d-flex flex-column flex-sm-row gap-3">
                <div class="custom-card w-100">
                    <h1>{{ visitasProductos }}</h1>
                    <h5>Total de visitas a productos/servicios</h5>
                </div>
                <div class="custom-card w-100">
                    <h1>{{ visitasContacto }}</h1>
                    <h5>Total de veces contactado</h5>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="activeItem.id == '3'" class="container-sm py-3 pt-lg-4 pb-lg-5">
        <p>Comentarios</p>
    </div>

    <div *ngIf="activeItem.id == '4'" class="container-sm py-3 pt-lg-4 pb-lg-5">
        <p>Información Personal</p>
    </div>

</div>

<!--<div *ngIf="!notAllowed" class="padding">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body little-profile text-center">
                <div class="underline-title">
                    <h3 class="fs-2">Buen día, {{ usuario.nombre }}</h3>
                </div>
                <div>
                    <h4>Estas son tus estadísticas de los últimos 30 días:</h4>
                </div>
                <div class="row text-center mt-5">
                    <div class="col-lg-6 col-md-6 m-t-20 text-center estadistica">
                        <small class="fw-bold fs-4">Total de de visitas al perfil</small>
                        <h3 class="mt-4 m-b-0 font-light fs-1 text-center">{{ visitasPerfil }}</h3>
                    </div>
                    <div class="col-lg-6 col-md-6 m-t-20 text-center estadistica">
                        <small class="fw-bold fs-4">Promedio de Calificaciones</small>
                        <h3 class="mt-4 m-b-0 font-light fs-1 text-center">{{ usuario.puntuacion }}</h3>
                    </div>
                    <div class="col-lg-6 col-md-6 m-t-20 text-center estadistica">
                        <small class="fw-bold fs-4">Total de visitas a productos/servicios</small>
                        <h3 class="mt-4 m-b-0 font-light fs-1 text-center">{{ visitasProductos }}</h3>
                    </div>
                    <div class="col-lg-6 col-md-6 m-t-20 text-center estadistica">
                        <small class="fw-bold fs-4">Total de veces contactado</small>
                        <h3 class="mt-4 m-b-0 font-light fs-1 text-center">{{ visitasContacto }}</h3>
                    </div>

                    <div>
                        <h4>Últimos comentarios en tus productos:</h4>
                        <div class="card">
                            <div class="wrapper info">
                                <span>Anonimo</span>
                                <span>11/12/2021</span>
                            </div>
                            <span>&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                            <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae
                                venenatis ex. Nulla odio tortor, mattis ac odio ut, varius gravida dui. Aliquam in nisl
                                vitae orci commodo semper ac quis elit. Quisque volutpat dui et cursus eleifend. Aliquam
                                laoreet, elit in pharetra ultrices, sapien magna ultrices diam, non porta tellus odio
                                tempor nisi.</p>
                        </div>
                        <div class="card">
                            <div class="wrapper info">
                                <span>Anonimo</span>
                                <span>11/12/2021</span>
                            </div>
                            <span>&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                            <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae
                                venenatis ex. Nulla odio tortor, mattis ac odio ut, varius gravida dui. Aliquam in nisl
                                vitae orci commodo semper ac quis elit. Quisque volutpat dui et cursus eleifend. Aliquam
                                laoreet, elit in pharetra ultrices, sapien magna ultrices diam, non porta tellus odio
                                tempor nisi.</p>
                        </div>
                    </div>
                    <div>
                        <h4>Actividad reciente en el foro:</h4>
                    </div>
                    <div>
                        <h4>Mis Publicaciones:</h4>
                        <div *ngFor="let producto of productos" ; class="card relacionados">
                            <img class="foto-rel" src="{{producto.fotos[0]}}" alt="">
                            <span class="bold">{{producto.titulo}}</span>
                            <span>${{producto.precio}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

<app-footbar></app-footbar>