.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #d3d3d3;
}
.full {
  color: var(--warning);
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: var(--warning);
}

@media (min-width: 992px) {
  .comment-card {
    width: calc(50% - 0.5rem);
  }
}

@media (min-width: 576px) {
  .statitics-date-picker {
    width: 19.2875rem;
  }
}

.userEdit-form-textarea {
  height: 8rem;
}
.userEdit-form-textarea textarea {
  resize: none;
}

@media (min-width: 768px) {
  .comment-input-product {
    width: calc(100% - 12.1rem - 282.5px);
  }
  .comment-input-field {
    width: 10.1rem;
  }
  .userEdit-form-textarea {
    height: 100%;
  }
}