<app-navbar></app-navbar>

<app-not-allowed *ngIf="notAllowed"></app-not-allowed>
<app-unexpected-error *ngIf="unexpected"></app-unexpected-error>

<div *ngIf="!notAllowed && !unexpected" class="bg-lighter container-full-height">
    <div class="container-sm pt-3">
        <p-tabMenu #tab [model]="items" [activeItem]="activeItem"></p-tabMenu>
    </div>

    <div *ngIf="activeItem.id == '1'" class="container-sm py-3 pb-sm-4 pt-lg-4 pb-lg-5 d-flex flex-column gap-3">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h3 class="mb-0">Publicaciones<span *ngIf="productos !== null"> ({{productos.count}})</span></h3>
            </div>
            <div class="d-flex gap-3">
                <button pButton pRipple label="Nueva Publicacion" icon="pi pi-plus"
                    class="p-button-sm d-none d-md-block"></button>
                <button pButton pRipple icon="pi pi-plus" class="p-button-sm d-md-none"></button>
                <button pButton pRipple [label]="showProductFilters ? 'Ocultar Filtros' : 'Mostrar Filtros'"
                    [icon]="showProductFilters ? 'pi pi-filter-slash' : 'pi pi-filter'"
                    class="p-button-sm d-none d-md-block" (click)="showProductFilters = !showProductFilters;"></button>
                <button pButton pRipple [icon]="showProductFilters ? 'pi pi-filter-slash' : 'pi pi-filter'"
                    class="p-button-sm d-md-none" (click)="showProductFilters = !showProductFilters;"></button>
            </div>
        </div>
        <div>
            <div class="d-flex flex-wrap gap-3 gap-lg-4 justify-content-start align-items-stretch">
                <app-product-card *ngFor="let product of productos.rows" [product]="product" [showOwner]="false">
                </app-product-card>
            </div>
        </div>
    </div>

    <div *ngIf="activeItem.id == '2'" id="comments"
        class="container-sm py-3 pb-sm-4 pt-lg-4 pb-lg-5 d-flex flex-column gap-3">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h3 class="mb-0">Comentarios<span *ngIf="comentarios !== null"> ({{comentarios.count}})</span></h3>
            </div>
            <button pButton pRipple [label]="showCommentFilters ? 'Ocultar Filtros' : 'Mostrar Filtros'"
                [icon]="showCommentFilters ? 'pi pi-filter-slash' : 'pi pi-filter'"
                class="p-button-sm d-none d-sm-block" (click)="showCommentFilters = !showCommentFilters;"></button>
            <button pButton pRipple [icon]="showCommentFilters ? 'pi pi-filter-slash' : 'pi pi-filter'"
                class="p-button-sm d-sm-none" (click)="showCommentFilters = !showCommentFilters;"></button>
        </div>
        <form *ngIf="showCommentFilters" class="d-flex flex-column gap-3" [formGroup]="commentFilterForm"
            (submit)="cargarComentarios()">
            <div class="d-flex flex-column flex-md-row justify-content-between gap-3 flex-wrap">
                <span class="p-input-filled p-float-label text-left comment-input-product">
                    <p-dropdown [options]="commentFilterProducto" optionLabel="titulo" optionValue="id" id="producto"
                        formControlName="producto" [styleClass]="'w-100'" [scrollHeight]="'504px'">
                    </p-dropdown>
                    <label [style]="{'margin-top': '-0.1rem'}" for="producto">Publicación</label>
                </span>
                <span class="p-input-filled p-float-label text-left comment-input-field mt-2 mt-md-0">
                    <p-dropdown [options]="commentFilterCampo" optionLabel="label" optionValue="value" id="campo"
                        formControlName="campo" [styleClass]="'w-100'" [scrollHeight]="'504px'">
                    </p-dropdown>
                    <label [style]="{'margin-top': '-0.1rem'}" for="campo">Ordenar por</label>
                </span>
                <p-selectButton class="select-button-2" [options]="commentFilterOrder" formControlName="orden"
                    optionLabel="label" optionValue="value" [styleClass]="'w-100'"></p-selectButton>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" pButton pRipple label="Aplicar" icon="pi pi-search"
                    class="p-button button-responsive"></button>
            </div>
        </form>
        <div *ngIf="comentarios === null" class="custom-card text-center">
            <h5 class="mb-0">Aún no hay comentarios.</h5>
        </div>
        <div *ngIf="comentarios !== null" class="d-flex flex-column flex-lg-row flex-lg-wrap gap-3">
            <div *ngFor="let coment of comentarios.rows" class="custom-card comment-card"
                [ngClass]="coment.oculto ? 'opacity-50' : ''">
                <div class="d-flex gap-3 justify-content-between">
                    <h5>{{ coment.nombre }}</h5>
                    <div class="d-flex gap-1">
                        <div class="d-flex flex-column">
                            <small class="text-right fecha">{{ coment.creado | date:'dd/LL/YYYY' }}</small>
                            <small class="text-right fecha">{{ coment.creado | date:'HH:mm' }}</small>
                        </div>
                        <button *ngIf="!coment.oculto" pButton pRipple icon="pi pi-eye-slash"
                            class="d-sm-none p-button-sm xs-adapt-button" (click)="cambiarEstadoComentario(coment)"
                            [disabled]="updatingComment == coment.id" [loading]="updatingComment == coment.id"></button>
                        <button *ngIf="!coment.oculto" pButton pRipple label="Ocultar" icon="pi pi-eye-slash"
                            class="d-none d-sm-block p-button-sm xs-adapt-button"
                            (click)="cambiarEstadoComentario(coment)" [disabled]="updatingComment == coment.id"
                            [loading]="updatingComment == coment.id"></button>
                        <button *ngIf="coment.oculto" pButton pRipple icon="pi pi-eye"
                            class="d-sm-none p-button-sm xs-adapt-button" (click)="cambiarEstadoComentario(coment)"
                            [disabled]="updatingComment == coment.id" [loading]="updatingComment == coment.id"></button>
                        <button *ngIf="coment.oculto" pButton pRipple label="Mostrar" icon="pi pi-eye"
                            class="d-none d-sm-block p-button-sm xs-adapt-button"
                            (click)="cambiarEstadoComentario(coment)" [disabled]="updatingComment == coment.id"
                            [loading]="updatingComment == coment.id"></button>
                    </div>
                </div>
                <ng-template #t let-fill="fill">
                    <span class="star" [class.full]="fill === 100">
                        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                    </span>
                </ng-template>
                <ngb-rating [(rate)]="coment.puntuacion" [starTemplate]="t" [readonly]="true" [max]="5">
                </ngb-rating>
                <p class="mb-1"><span class="font-weight-bold">Publicación: </span>
                    <a *ngIf="coment.publicacion" [routerLink]="['/product', coment.publicacion.id]">{{
                        coment.publicacion.titulo }}</a>
                    <span *ngIf="!coment.publicacion">Eliminada</span>
                </p>
                <p class="mb-1"><span class="font-weight-bold">Celular:</span> {{
                    coment.celular ?
                    '+' + coment.celular.substring(0,3) + ' ' + coment.celular.substring(3, 5) + ' ' +
                    coment.celular.substring(5, 8) + ' ' + coment.celular.substring(8) : 'No ingresado' }}
                </p>
                <p class="mb-0 text-justify">{{ coment.texto }}</p>
            </div>
            <p-paginator class="d-sm-none w-100" [ngClass]="loadingComments ? 'disable-pagination' : ''"
                [rows]="commentsRows" [first]="commentsCurrentPage" [totalRecords]="comentarios.count"
                [rowsPerPageOptions]="[6,12,24,{showAll:'Todos'}]" [dropdownScrollHeight]="''" [showPageLinks]="false"
                [showJumpToPageDropdown]="true" [showFirstLastIcon]="false"
                currentPageReportTemplate="{currentPage} / {totalPages}" (onPageChange)="paginacionComentarios($event)">
            </p-paginator>
            <p-paginator class="d-none d-sm-block d-md-none w-100"
                [ngClass]="loadingComments ? 'disable-pagination' : ''" [rows]="commentsRows"
                [first]="commentsCurrentPage" [totalRecords]="comentarios.count"
                [rowsPerPageOptions]="[6,12,24,{showAll:'Todos'}]" [pageLinkSize]="3" [dropdownScrollHeight]="''"
                (onPageChange)="paginacionComentarios($event)">
            </p-paginator>
            <p-paginator class="d-none d-md-block w-100" [ngClass]="loadingComments ? 'disable-pagination' : ''"
                [rows]="commentsRows" [first]="commentsCurrentPage" [totalRecords]="comentarios.count"
                [rowsPerPageOptions]="[6,12,24,{showAll:'Todos'}]" [dropdownScrollHeight]="''"
                (onPageChange)="paginacionComentarios($event)">
            </p-paginator>
        </div>
    </div>

    <div *ngIf="activeItem.id == '3'" class="container-sm py-3 pb-sm-4 pt-lg-4 pb-lg-5 d-flex flex-column gap-3">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h3 class="mb-0">Estadísticas</h3>
            </div>
            <button pButton pRipple [label]="showStatiticsFilters ? 'Ocultar Filtros' : 'Mostrar Filtros'"
                [icon]="showStatiticsFilters ? 'pi pi-filter-slash' : 'pi pi-filter'"
                class="p-button-sm d-none d-sm-block" (click)="showStatiticsFilters = !showStatiticsFilters;"></button>
            <button pButton pRipple [icon]="showStatiticsFilters ? 'pi pi-filter-slash' : 'pi pi-filter'"
                class="p-button-sm d-sm-none" (click)="showStatiticsFilters = !showStatiticsFilters;"></button>
        </div>
        <form *ngIf="showStatiticsFilters"
            class="d-flex flex-column flex-md-row justify-content-between flex-wrap gap-3"
            [formGroup]="statiticsFilterForm" (submit)="cargarEstadisticas()">
            <div class="d-flex flex-column flex-sm-row gap-3">
                <span class="p-input-filled p-float-label statitics-date-picker">
                    <p-calendar selectionMode="range" inputId="fechas" formControlName="fechas" [minDate]="minDateValue"
                        [maxDate]="maxDateValue" dateFormat="dd/mm/yy" [styleClass]="'w-100'">
                    </p-calendar>
                    <label [style]="{'margin-top': '-0.1rem'}" for="fechas">Rango de fechas</label>
                </span>
                <p-selectButton class="select-button-2" [options]="statiticsUnique" formControlName="unico"
                    optionLabel="label" optionValue="value" [styleClass]="'w-100'"></p-selectButton>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" pButton pRipple label="Aplicar" icon="pi pi-search"
                    class="p-button button-responsive"></button>
            </div>
        </form>
        <div class="d-flex flex-column gap-3 text-center">
            <div class="d-flex flex-column flex-sm-row gap-3">
                <div class="custom-card w-100">
                    <h1>{{ visitasPerfil }}</h1>
                    <h5>Total de de visitas al perfil</h5>
                </div>
                <div class="custom-card w-100">
                    <ng-template #t let-fill="fill">
                        <span class="star" [class.full]="fill === 100">
                            <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                        </span>
                    </ng-template>
                    <div class="d-flex gap-2 justify-content-center align-items-center mb-2">
                        <ngb-rating [(rate)]="usuario.puntuacion" [starTemplate]="t" [readonly]="true" [max]="5">
                        </ngb-rating>
                        <h1 *ngIf="usuario.puntuacion !== null" class="mb-0">{{ usuario.puntuacion }}
                        </h1>
                        <h6 *ngIf="usuario.puntuacion === null" class="mb-0 font-weight-normal">No hay datos</h6>
                    </div>
                    <h5>Promedio de Calificaciones</h5>
                </div>
            </div>
            <div class="d-flex flex-column flex-sm-row gap-3">
                <div class="custom-card w-100">
                    <h1>{{ visitasProductos }}</h1>
                    <h5>Total de visitas a productos/servicios</h5>
                </div>
                <div class="custom-card w-100">
                    <h1>{{ visitasContacto }}</h1>
                    <h5>Total de veces contactado</h5>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="activeItem.id == '4'" class="container-sm py-3 pb-sm-4 pt-lg-4 pb-lg-5 d-flex flex-column gap-3">
        <div class="custom-card">
            <form [formGroup]="userEditForm" (submit)="actualizarDatosUsuario()">
                <div class="d-flex flex-column flex-md-row justify-content-center gap-md-3">
                    <div class="d-flex flex-column align-items-stretch w-100">
                        <h5 class="text-center mb-0">Datos Personales</h5>
                        <span class="p-input-filled p-float-label mt-4">
                            <input pInputText id="nombre" type="text" formControlName="nombre" class="w-100"
                                maxlength="30"
                                [ngClass]="(submittedUserEditForm && userEditForm.get('nombre')?.invalid) ? 'ng-dirty ng-invalid' : ''">
                            <label for="nombre">Nombre <span class="text-danger">*</span></label>
                        </span>
                        <span class="p-input-filled p-float-label mt-4-5">
                            <input pInputText id="apellido" type="text" formControlName="apellido" class="w-100"
                                maxlength="30"
                                [ngClass]="(submittedUserEditForm && userEditForm.get('apellido')?.invalid) ? 'ng-dirty ng-invalid' : ''">
                            <label for="apellido">Apellido <span class="text-danger">*</span></label>
                        </span>
                        <span class="p-input-filled p-float-label mt-4-5">
                            <p-calendar inputId="fecha_nacimiento" formControlName="fecha_nacimiento"
                                [maxDate]="maxDateValue" dateFormat="dd/mm/yy" styleClass="w-100">
                            </p-calendar>
                            <label for="fecha_nacimiento">Fecha de nacimiento *</label>
                        </span>
                        <span class="p-input-filled p-float-label mt-4-5">
                            <input pInputText id="email" type="text" formControlName="email" class="w-100"
                                maxlength="125"
                                [ngClass]="(submittedUserEditForm && userEditForm.get('email')?.invalid) ? 'ng-dirty ng-invalid' : ''">
                            <label for="email">E-mail <span class="text-danger">*</span></label>
                        </span>
                        <span class="p-input-filled p-float-label mt-4-5">
                            <input pInputText id="celular" type="tel" formControlName="celular" class="w-100"
                                maxlength="10"
                                [ngClass]="(submittedUserEditForm && userEditForm.get('celular')?.invalid) ? 'ng-dirty ng-invalid' : ''">
                            <label for="celular">Número celular <span class="text-danger">*</span></label>
                        </span>
                        <span class="p-input-filled p-float-label mt-4-5 userEdit-form-textarea">
                            <textarea pInputTextarea id="bio" formControlName="bio" class="w-100 h-100"
                                maxlength="2500"></textarea>
                            <label for="bio">Descripción</label>
                        </span>
                        <div class="d-md-none">
                            <small class="font-italic"><span class="text-danger">*</span> Estos campos no pueden estar
                                vacios.</small>
                        </div>
                    </div>
                    <p-divider class="d-none d-md-block" layout="vertical"></p-divider>
                    <p-divider class="d-md-none"></p-divider>
                    <div class="d-flex flex-column gap-md-3 align-items-stretch w-100">
                        <div>
                            <h5 class="text-center mb-0">Datos del Negocio</h5>
                            <span class="p-input-filled p-float-label mt-4">
                                <input pInputText id="negocio" type="text" formControlName="negocio" class="w-100"
                                    maxlength="60">
                                <label for="negocio">Nombre del negocio</label>
                            </span>
                            <span class="p-input-filled p-float-label mt-4-5">
                                <p-calendar inputId="fecha_inicio" formControlName="fecha_inicio"
                                    [maxDate]="maxDateValue" styleClass="w-100"></p-calendar>
                                <label for="fecha_inicio">Fecha de inauguración</label>
                            </span>
                        </div>
                        <p-divider></p-divider>
                        <div>
                            <h5 class="text-center mb-0">Redes Sociales</h5>
                            <span class="p-input-filled p-float-label mt-4">
                                <input pInputText id="facebook" type="text" formControlName="facebook" class="w-100"
                                    maxlength="125">
                                <label for="facebook">Facebook</label>
                            </span>
                            <span class="p-input-filled p-float-label mt-4-5">
                                <input pInputText id="instagram" type="text" formControlName="instagram" class="w-100"
                                    maxlength="125">
                                <label for="instagram">Instagram</label>
                            </span>
                            <span class="p-input-filled p-float-label mt-4-5">
                                <input pInputText id="twitter" type="text" formControlName="twitter" class="w-100"
                                    maxlength="125">
                                <label for="twitter">Twitter</label>
                            </span>
                            <span class="p-input-filled p-float-label mt-4-5">
                                <input pInputText id="linkedin" type="text" formControlName="linkedin" class="w-100"
                                    maxlength="125">
                                <label for="linkedin">Linkedin</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="d-none d-md-block">
                    <small class="font-italic"><span class="text-danger">*</span> Estos campos no pueden estar
                        vacios.</small>
                </div>
                <div class="d-flex flex-column-reverse flex-sm-row gap-3 justify-content-end mt-3">
                    <button pButton pRipple type="button" label="Reestablecer" icon="pi pi-times"
                        [disabled]="sendingUserEditForm" class="p-button p-button-danger"
                        (click)="cargarUserEditInfo()">
                    </button>
                    <button pButton pRipple type="submit" label="Guardar Cambios" icon="pi pi-save"
                        [disabled]="sendingUserEditForm" [loading]="sendingUserEditForm" class="p-button">
                    </button>
                </div>
            </form>
        </div>
        <div class="d-flex flex-column flex-lg-row gap-3">
            <div class="custom-card w-100">
                <h5 class="text-center mb-0">Actualizar fotos</h5>
            </div>
            <div class="custom-card">
                <form [formGroup]="newPasswordForm" (submit)="actualizarContrasena()">

                    <h5 class="text-center">Cambiar Contraseña</h5>
                    <div>
                        <p class="mb-0">Tu nueva contrseña debe tener:</p>
                        <ul class="mb-0">
                            <li>Al menos una letra minúscula</li>
                            <li>Al menos una letra mayúscula</li>
                            <li>Al menos un número</li>
                            <li>Entre 8 y 24 caracteres</li>
                        </ul>
                    </div>
                    <span class="p-input-filled p-input-icon-right p-float-label mt-4-5 w-100">
                        <i class="c-pointer pi" [ngClass]="passMask1 ? 'pi-eye' : 'pi-eye-slash'"
                            (click)="passMask1 = !passMask1"></i>
                        <input pInputText id="password1" [attr.type]="passMask1 ? 'password' : 'text'"
                            formControlName="password1" class="w-100" maxlength="28"
                            [ngClass]="(submittedNewPasswordForm && newPasswordForm.get('password1')?.invalid) ? 'ng-dirty ng-invalid' : ''">
                        <label for="password1">Contraseña actual</label>
                    </span>
                    <p-divider></p-divider>
                    <span class="p-input-filled p-input-icon-right p-float-label mt-3 w-100">
                        <i class="c-pointer pi" [ngClass]="passMask2 ? 'pi-eye' : 'pi-eye-slash'"
                            (click)="passMask2 = !passMask2"></i>
                        <input pPassword id="password2" [attr.type]="passMask2 ? 'password' : 'text'"
                            formControlName="password2" class="w-100" maxlength="28"
                            promptLabel="Ingrese su nueva contraseña" weakLabel="Débil" mediumLabel="Regular"
                            strongLabel="Fuerte" [feedback]="false"
                            [ngClass]="(submittedNewPasswordForm && newPasswordForm.get('password2')?.invalid) ? 'ng-dirty ng-invalid' : ''">
                        <label for="password2">Nueva contraseña</label>
                    </span>
                    <span class="p-input-filled p-input-icon-right p-float-label mt-4-5 w-100">
                        <i class="c-pointer pi" [ngClass]="passMask3 ? 'pi-eye' : 'pi-eye-slash'"
                            (click)="passMask3 = !passMask3"></i>
                        <input pInputText id="password3" [attr.type]="passMask3 ? 'password' : 'text'"
                            formControlName="password3" class="w-100" maxlength="28"
                            [ngClass]="(submittedNewPasswordForm && newPasswordForm.get('password3')?.invalid) ? 'ng-dirty ng-invalid' : ''">
                        <label for="password3">Repetir nueva contraseña</label>
                    </span>
                    <div class="d-flex flex-column-reverse flex-sm-row gap-3 justify-content-end mt-3">
                        <button pButton pRipple type="reset" label="Reestablecer" icon="pi pi-times"
                            [disabled]="sendingNewPasswordForm" class="p-button p-button-danger">
                        </button>
                        <button pButton pRipple type="submit" label="Guardar Cambios" icon="pi pi-save"
                            [disabled]="sendingNewPasswordForm" [loading]="sendingNewPasswordForm" class="p-button">
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<app-footbar></app-footbar>