<app-navbar></app-navbar>

<app-not-allowed *ngIf="notAllowed"></app-not-allowed>
<app-unexpected-error *ngIf="unexpected"></app-unexpected-error>

<div *ngIf="!notAllowed && !unexpected" class="bg-lighter container-full-height">
    <div class="container-sm pt-3">
        <p-tabMenu #tab [model]="items" [activeItem]="activeItem"></p-tabMenu>
    </div>

    <div *ngIf="activeItem.id == '1'" class="container-sm py-3 pt-lg-4 pb-lg-5 d-flex flex-column gap-3">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h3 class="mb-0">Publicaciones<span *ngIf="productos !== null"> ({{productos.count}})</span></h3>
            </div>
            <div class="d-flex gap-3">
                <button pButton pRipple label="Nueva Publicacion" icon="pi pi-plus"
                    class="p-button-sm d-none d-md-block"></button>
                <button pButton pRipple icon="pi pi-plus" class="p-button-sm d-md-none"></button>
                <button pButton pRipple [label]="showProductFilters ? 'Ocultar Filtros' : 'Mostrar Filtros'"
                    [icon]="showProductFilters ? 'pi pi-filter-slash' : 'pi pi-filter'"
                    class="p-button-sm d-none d-md-block" (click)="showProductFilters = !showProductFilters;"></button>
                <button pButton pRipple [icon]="showProductFilters ? 'pi pi-filter-slash' : 'pi pi-filter'"
                    class="p-button-sm d-md-none" (click)="showProductFilters = !showProductFilters;"></button>
            </div>
        </div>
        <!--<div class="d-flex flex-column flex-md-row justify-content-between gap-3">
            <input pInputText type="text" placeholder="Filtrar por titulo">
            <button pButton pRipple label="Nueva Publicacion" icon="pi pi-plus"
                class="p-button button-responsive"></button>
        </div>-->
        <div>
            <div class="d-flex flex-wrap gap-3 gap-lg-4 justify-content-start align-items-stretch">
                <app-product-card *ngFor="let product of productos.rows" [product]="product" [showOwner]="false">
                </app-product-card>
            </div>
        </div>
    </div>

    <div *ngIf="activeItem.id == '2'" id="comments" class="container-sm py-3 pt-lg-4 pb-lg-5 d-flex flex-column gap-3">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h3 class="mb-0">Comentarios<span *ngIf="comentarios !== null"> ({{comentarios.count}})</span></h3>
            </div>
            <button pButton pRipple [label]="showCommentFilters ? 'Ocultar Filtros' : 'Mostrar Filtros'"
                [icon]="showCommentFilters ? 'pi pi-filter-slash' : 'pi pi-filter'"
                class="p-button-sm d-none d-sm-block" (click)="showCommentFilters = !showCommentFilters;"></button>
            <button pButton pRipple [icon]="showCommentFilters ? 'pi pi-filter-slash' : 'pi pi-filter'"
                class="p-button-sm d-sm-none" (click)="showCommentFilters = !showCommentFilters;"></button>
        </div>
        <form *ngIf="showCommentFilters" class="d-flex flex-column gap-3" [formGroup]="commentFilterForm"
            (submit)="cargarComentarios()">
            <div class="d-flex flex-column flex-md-row justify-content-between gap-3 flex-wrap">
                <span class="p-input-filled p-float-label text-left comment-input-product">
                    <p-dropdown [options]="commentFilterProducto" optionLabel="titulo" optionValue="id" id="producto"
                        formControlName="producto" placeholder=" " [style]="{'height': '50px'}" [styleClass]="'w-100'"
                        [scrollHeight]="''">
                    </p-dropdown>
                    <label [style]="{'margin-top': '-0.1rem'}" for="producto">Publicación</label>
                </span>
                <span class="p-input-filled p-float-label text-left comment-input-field mt-2 mt-md-0">
                    <p-dropdown [options]="commentFilterCampo" optionLabel="label" optionValue="value" id="campo"
                        formControlName="campo" placeholder=" " [style]="{'height': '50px'}" [styleClass]="'w-100'"
                        [scrollHeight]="''">
                    </p-dropdown>
                    <label [style]="{'margin-top': '-0.1rem'}" for="campo">Ordenar por</label>
                </span>
                <p-selectButton class="select-button-2" [options]="commentFilterOrden" formControlName="orden"
                    optionLabel="label" optionValue="value" [styleClass]="'w-100'"></p-selectButton>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" pButton pRipple label="Aplicar" icon="pi pi-search"
                    class="p-button button-responsive"></button>
            </div>
        </form>
        <div *ngIf="comentarios === null" class="custom-card text-center">
            <h5 class="mb-0">Aún no hay comentarios.</h5>
        </div>
        <div *ngIf="comentarios !== null" class="d-flex flex-column flex-lg-row flex-lg-wrap gap-3">
            <div *ngFor="let coment of comentarios.rows" class="custom-card comment-card"
                [ngClass]="coment.oculto ? 'opacity-50' : ''">
                <div class="d-flex gap-3 justify-content-between">
                    <h5>{{ coment.nombre }}</h5>
                    <div class="d-flex gap-1">
                        <div class="d-flex flex-column">
                            <small class="text-right fecha">{{ coment.creado | date:'dd/LL/YYYY' }}</small>
                            <small class="text-right fecha">{{ coment.creado | date:'HH:mm' }}</small>
                        </div>
                        <button *ngIf="!coment.oculto" pButton pRipple icon="pi pi-eye-slash"
                            class="d-sm-none p-button-sm xs-adapt-button" (click)="cambiarEstadoComentario(coment)"
                            [disabled]="updatingComment == coment.id" [loading]="updatingComment == coment.id"></button>
                        <button *ngIf="!coment.oculto" pButton pRipple label="Ocultar" icon="pi pi-eye-slash"
                            class="d-none d-sm-block p-button-sm xs-adapt-button"
                            (click)="cambiarEstadoComentario(coment)" [disabled]="updatingComment == coment.id"
                            [loading]="updatingComment == coment.id"></button>
                        <button *ngIf="coment.oculto" pButton pRipple icon="pi pi-eye"
                            class="d-sm-none p-button-sm xs-adapt-button" (click)="cambiarEstadoComentario(coment)"
                            [disabled]="updatingComment == coment.id" [loading]="updatingComment == coment.id"></button>
                        <button *ngIf="coment.oculto" pButton pRipple label="Mostrar" icon="pi pi-eye"
                            class="d-none d-sm-block p-button-sm xs-adapt-button"
                            (click)="cambiarEstadoComentario(coment)" [disabled]="updatingComment == coment.id"
                            [loading]="updatingComment == coment.id"></button>
                    </div>
                </div>
                <ng-template #t let-fill="fill">
                    <span class="star" [class.full]="fill === 100">
                        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                    </span>
                </ng-template>
                <ngb-rating [(rate)]="coment.puntuacion" [starTemplate]="t" [readonly]="true" [max]="5">
                </ngb-rating>
                <p class="mb-1"><span class="font-weight-bold">Publicación: </span>
                    <a *ngIf="coment.publicacion" [routerLink]="['/product', coment.publicacion.id]">{{
                        coment.publicacion.titulo }}</a>
                    <span *ngIf="!coment.publicacion">Eliminada</span>
                </p>
                <p class="mb-1"><span class="font-weight-bold">Celular:</span> {{
                    coment.celular ?
                    '+' + coment.celular.substring(0,3) + ' ' + coment.celular.substring(3, 5) + ' ' +
                    coment.celular.substring(5, 8) + ' ' + coment.celular.substring(8) : 'No ingresado' }}
                </p>
                <p class="mb-0 text-justify">{{ coment.texto }}</p>
            </div>
            <p-paginator class="d-sm-none w-100" [ngClass]="loadingComments ? 'disable-pagination' : ''"
                [rows]="commentsRows" [first]="commentsCurrentPage" [totalRecords]="comentarios.count"
                [rowsPerPageOptions]="[6,12,24,{showAll:'Todos'}]" [dropdownScrollHeight]="''" [showPageLinks]="false"
                [showJumpToPageDropdown]="true" [showFirstLastIcon]="false"
                currentPageReportTemplate="{currentPage} / {totalPages}" (onPageChange)="paginacionComentarios($event)">
            </p-paginator>
            <p-paginator class="d-none d-sm-block d-md-none w-100"
                [ngClass]="loadingComments ? 'disable-pagination' : ''" [rows]="commentsRows"
                [first]="commentsCurrentPage" [totalRecords]="comentarios.count"
                [rowsPerPageOptions]="[6,12,24,{showAll:'Todos'}]" [pageLinkSize]="3" [dropdownScrollHeight]="''"
                (onPageChange)="paginacionComentarios($event)">
            </p-paginator>
            <p-paginator class="d-none d-md-block w-100" [ngClass]="loadingComments ? 'disable-pagination' : ''"
                [rows]="commentsRows" [first]="commentsCurrentPage" [totalRecords]="comentarios.count"
                [rowsPerPageOptions]="[6,12,24,{showAll:'Todos'}]" [dropdownScrollHeight]="''"
                (onPageChange)="paginacionComentarios($event)">
            </p-paginator>
        </div>
    </div>

    <div *ngIf="activeItem.id == '3'" class="container-sm py-3 pt-lg-4 pb-lg-5">
        <div class="d-flex flex-column flex-md-row justify-content-between gap-3">
            <input pInputText type="text" placeholder="Filtrar por titulo">
            <button pButton pRipple label="Nueva Publicacion" icon="pi pi-plus"
                class="p-button button-responsive"></button>
        </div>
        <div class="pt-3 pt-lg-4">
            <h4>Mostrando estadisticas desde {{inicio | date: 'dd/LL/YY'}} hasta {{final | date: 'dd/LL/YY'}}:</h4>
        </div>
        <div class="d-flex flex-column gap-3 text-center">
            <div class="d-flex flex-column flex-sm-row gap-3">
                <div class="custom-card w-100">
                    <h1>{{ visitasPerfil }}</h1>
                    <h5>Total de de visitas al perfil</h5>
                </div>
                <div class="custom-card w-100">
                    <ng-template #t let-fill="fill">
                        <span class="star" [class.full]="fill === 100">
                            <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                        </span>
                    </ng-template>
                    <div class="d-flex gap-2 justify-content-center align-items-center mb-2">
                        <ngb-rating [(rate)]="usuario.puntuacion" [starTemplate]="t" [readonly]="true" [max]="5">
                        </ngb-rating>
                        <h1 *ngIf="usuario.puntuacion !== null" class="mb-0">{{ usuario.puntuacion }}
                        </h1>
                        <h6 *ngIf="usuario.puntuacion === null" class="mb-0 font-weight-normal">No hay datos</h6>
                    </div>
                    <h5>Promedio de Calificaciones</h5>
                </div>
            </div>
            <div class="d-flex flex-column flex-sm-row gap-3">
                <div class="custom-card w-100">
                    <h1>{{ visitasProductos }}</h1>
                    <h5>Total de visitas a productos/servicios</h5>
                </div>
                <div class="custom-card w-100">
                    <h1>{{ visitasContacto }}</h1>
                    <h5>Total de veces contactado</h5>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="activeItem.id == '4'" class="container-sm py-3 pt-lg-4 pb-lg-5">
        <div class="custom-card">
            <form action="" [formGroup]="userEditForm" (submit)="actualizarDatosUsuario()">
                <div class="d-flex flex-column flex-md-row justify-content-center gap-md-3">
                    <div class="d-flex flex-column align-items-stretch w-100">
                        <h5 class="text-center mb-0">Datos Personales</h5>
                        <span class="p-input-filled p-float-label mt-4">
                            <input pInputText id="nombre" type="text" formControlName="nombre" name="nombre"
                                class="w-100"
                                [ngClass]="(submittedUserEditForm && userEditForm.get('nombre')?.invalid) ? 'ng-dirty ng-invalid' : ''">
                            <label for="nombre">Nombre</label>
                        </span>
                        <span class="p-input-filled p-float-label mt-4-5">
                            <input pInputText id="apellido" type="text" formControlName="apellido" name="apellido"
                                class="w-100"
                                [ngClass]="(submittedUserEditForm && userEditForm.get('apellido')?.invalid) ? 'ng-dirty ng-invalid' : ''">
                            <label for="apellido">Apellido</label>
                        </span>
                        <span class="p-input-filled p-float-label mt-4-5">
                            <p-calendar inputId="fecha_nacimiento" formControlName="fecha_nacimiento" name="fecha_nacimiento"
                            [maxDate]="maxDateValue" styleClass="w-100">
                            </p-calendar>
                            <label for="fecha_nacimiento">Fecha de nacimiento</label>
                        </span>
                        <span class="p-input-filled p-float-label mt-4-5">
                            <input pInputText id="email" type="text" formControlName="email" name="email" class="w-100"
                                [ngClass]="(submittedUserEditForm && userEditForm.get('email')?.invalid) ? 'ng-dirty ng-invalid' : ''">
                            <label for="email">E-mail</label>
                        </span>
                        <span class="p-input-filled p-float-label mt-4-5">
                            <p-inputMask id="celular" type="tel" formControlName="celular" name="celular"
                                mask="9999999999" [autoClear]="false"
                                [styleClass]="(submittedUserEditForm && userEditForm.get('celular')?.invalid) ? 'w-100 ng-dirty ng-invalid' : 'w-100'">
                            </p-inputMask>
                            <label for="celular">Número celular</label>
                        </span>
                        <span class="p-input-filled p-float-label mt-4-5">
                            <textarea pInputTextarea id="bio" [rows]="5" [cols]="35" formControlName="bio" name="bio"
                                class="w-100"
                                [ngClass]="(submittedUserEditForm && userEditForm.get('bio')?.invalid) ? 'ng-dirty ng-invalid' : ''"></textarea>
                            <label for="bio">Descripción</label>
                        </span>
                    </div>
                    <p-divider class="d-none d-md-block" layout="vertical"></p-divider>
                    <p-divider class="d-md-none"></p-divider>
                    <div class="d-flex flex-column gap-md-3 align-items-stretch w-100">
                        <div>
                            <h5 class="text-center mb-0">Datos del Negocio</h5>
                            <span class="p-input-filled p-float-label mt-4">
                                <input pInputText id="negocio" type="text" formControlName="negocio" name="negocio"
                                    class="w-100"
                                    [ngClass]="(submittedUserEditForm && userEditForm.get('negocio')?.invalid) ? 'ng-dirty ng-invalid' : ''">
                                <label for="negocio">Nombre del negocio</label>
                            </span>
                            <span class="p-input-filled p-float-label mt-4-5">
                                <p-calendar inputId="fecha_inicio" formControlName="fecha_inicio" name="fecha_inicio"
                                [maxDate]="maxDateValue" styleClass="w-100">
                                </p-calendar>
                                <label for="fecha_inicio">Fecha de inauguración</label>
                            </span>
                        </div>
                        <p-divider></p-divider>
                        <div>
                            <h5 class="text-center mb-0">Redes Sociales</h5>
                            <span class="p-input-filled p-float-label mt-4">
                                <input pInputText id="facebook" type="text" formControlName="facebook" name="facebook"
                                    class="w-100"
                                    [ngClass]="(submittedUserEditForm && userEditForm.get('facebook')?.invalid) ? 'ng-dirty ng-invalid' : ''">
                                <label for="facebook">Facebook</label>
                            </span>
                            <span class="p-input-filled p-float-label mt-4-5">
                                <input pInputText id="instagram" type="text" formControlName="instagram"
                                    name="instagram" class="w-100"
                                    [ngClass]="(submittedUserEditForm && userEditForm.get('instagram')?.invalid) ? 'ng-dirty ng-invalid' : ''">
                                <label for="instagram">Instagram</label>
                            </span>
                            <span class="p-input-filled p-float-label mt-4-5">
                                <input pInputText id="twitter" type="text" formControlName="twitter" name="twitter"
                                    class="w-100"
                                    [ngClass]="(submittedUserEditForm && userEditForm.get('twitter')?.invalid) ? 'ng-dirty ng-invalid' : ''">
                                <label for="twitter">Twitter</label>
                            </span>
                            <span class="p-input-filled p-float-label mt-4-5">
                                <input pInputText id="linkedin" type="text" formControlName="linkedin" name="linkedin"
                                    class="w-100"
                                    [ngClass]="(submittedUserEditForm && userEditForm.get('linkedin')?.invalid) ? 'ng-dirty ng-invalid' : ''">
                                <label for="linkedin">Linkedin</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column-reverse flex-sm-row gap-3 justify-content-end mt-3">
                    <button pButton pRipple type="button" label="Reestablecer" icon="pi pi-times" [disabled]="sendingUserEditForm"
                        class="p-button p-button-danger" (click)="cargarUserEditForm()">
                    </button>
                    <button pButton pRipple type="submit" label="Guardar Cambios" icon="pi pi-save"
                        [disabled]="sendingUserEditForm" [loading]="sendingUserEditForm" class="p-button">
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>

<app-footbar></app-footbar>