body {
    background-color: #000000
}

.padding {
    padding: 3rem !important;
    margin: 0 50px
}
.card-img-top {
    height: 300px
}

.card-no-border .card {
    border-color: #d7dfe3;
    border-radius: 4px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.pro-img {
    margin-top: -80px;
    margin-bottom: 20px
}

.little-profile .pro-img img {
    width: 128px;
    height: 128px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 100%
}

html body .m-b-0 {
    margin-bottom: 0px
}

h3 {
    line-height: 30px;
    font-size: 21px
}

.btn-rounded.btn-md {
    padding: 12px 35px;
    font-size: 16px
}

html body .m-t-10 {
    margin-top: 10px
}

.btn-primary,
.btn-primary.disabled {
    background: #24469d;
    border: 1px solid #24469d;
    -webkit-box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
    box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in
}

.btn-rounded {
    border-radius: 60px;
    padding: 7px 7px
}

.m-t-20 {
    margin-top: 20px
}

.text-center {
    text-align: center !important
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #455a64;
    font-family: "Poppins", sans-serif;
    font-weight: 400
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}
.col-md-10{
    margin-left:auto ;
    margin-right: auto;
}

:root {
    --primary: rgb(174, 192, 228);
    --secondary: rgb(34, 70, 158);
    --darkSecondary: rgb(45, 47, 96);
  }
  img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
  }
  h4 {
      margin-top: 3em;
  }
  h3{
      font-weight: bold;
  }
  h2{
      margin: 0;
  }
  .underline-title{
      border-bottom: solid 3px #455a64;;
  }
  .estadistica{
      margin: 0;
      padding: 25px 0;
      background-color: rgb(174, 192, 228);
      border: solid 1px #455a64;
  }
  .info-producto{
      margin: 0 0 3em 0;
  }
  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 80px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .v-container-1, .v-container-2{
      display: flex;
      flex-direction: column;
  }
  .descripcion{
      margin-top: 2em;
      margin-bottom: 1.5em;
  }
  .card{
      padding: 1.5em;
      margin-top: 1.5em;
      margin-bottom: 1.5em;
  }
  .info{
      display: flex;
      justify-content: space-between;
  }
  .comment-text{
      margin-top: 0.6em;
  }
  .vendedor{
      display: block;
      font-weight:400;
      font-style: italic;
      font-size: 1.2rem;
      margin-bottom: 0.3em!important;
      color: var(--secondary);
  }
  .vendedor:hover{
      text-decoration: underline;
  }
  .nombre-product{
      margin-bottom: 0.2em;
  }
  .rating{
      display: flex;
      margin-bottom: 1.5em;
  }
  .puntuacion{
      margin-right: 0.8em;
      font-size: larger;
  }
  .icon{
      font-size: larger;
  }
  .bi-whatsapp{
      color: white;
      margin-left: 0.4em;
  }
  .precio{
      font-weight: 600;
  }
  .btn-primary{
      width: 45%;
      font-weight: bold;
      font-size: large;
  }
  .galeria{
      margin-top: 45px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-gap: 10px;
  }
  .card.relacionados{
      transition: box-shadow .3s;
  }
  .card.relacionados:hover{
      box-shadow: 0 0 11px var(--secondary); 
      cursor: pointer;
  }
  .foto-rel{
      margin-bottom: 1em;
  }
  .bold{
      font-size: larger;
  }