<app-navbar></app-navbar>
<div class="bg-lighter container-full-height">
    <div class="container-sm py-3 py-sm-4 py-lg-5  flex-column justify-content-center align-items-center">
        <div class="text-center">
            <h1>Foro</h1>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between ">
            <p-dropdown [options]="options" [(ngModel)]="selectedOption"></p-dropdown>
            <button [routerLink]="['/newQuestion']" pButton pRipple label="Nueva Pregunta" icon="pi pi-plus"
                class="p-button button-responsive"></button>
        </div>
        <div class="">
            <p-paginator class="d-none d-md-block w-100"
                [ngClass]="loadingQuestions ? 'disable-pagination' : ''" [rows]="questionRows"
                [first]="questionsCurrentPage" [totalRecords]="questions.count" [rowsPerPageOptions]="[6,12,24,{showAll:'Todos'}]"
                [dropdownScrollHeight]="''" (onPageChange)="paginacionQuestions($event)">
            </p-paginator>
        </div>
    </div>
</div>
<app-footbar></app-footbar>