<!--Navbar-->
<nav class="navbar sticky-top">
    <div class="logo-box" (click)="redirect()"><img class="logo" src="../../assets/img/logo-darkBlue-resized.png" alt="logo-store">
    </div>
    <div class="nav-content" *ngIf="router.url.includes('/login') === false">
        <ul class="nav-list">
            <li class="nav-item" *ngIf="router.url.includes('/landing-page') === true"><a [routerLink]="['#start']">Inicio</a></li>
            <li class="nav-item" *ngIf="router.url.includes('/landing-page') === true"><a [routerLink]="['#about']">Sobre Nosotros</a></li>
            <li class="nav-item" *ngIf="router.url.includes('/landing-page') === true"><a [routerLink]="['#contacto']">Contacto</a></li>
            <form class="d-flex" *ngIf="router.url.includes('/landing-page') === false" >
                <input class="form-control me-2 search" type="search" placeholder="Búsqueda" aria-label="Search">
            </form>
            <li class="nav-item" *ngIf="router.url.includes('/landing-page') === false"><a [routerLink]="['/store']">Tienda</a></li>
            <li class="nav-item" *ngIf="router.url.includes('/landing-page') === false"><a [routerLink]="['/']">Categorias</a></li>
            <li class="nav-item" *ngIf="!logged"><a [routerLink]="['/login']">Soy Emprendedor</a></li>
            <li class="nav-item" *ngIf="logged"><a [routerLink]="['/userProfile/', usuario.id]">Mi perfil</a></li>
            <li class="nav-item" *ngIf="logged"><a [routerLink]="['/detallesProfile']">Mi emprendimiento</a></li>
            <!--<li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-start" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Mi perfil</a></li>
                  <li><a class="dropdown-item" href="#">Mi emprendimiento</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                </ul>
              </li>
              -->
        </ul>
    </div>
    <i class="bi bi-list hamburguer" (click)="toggleHamburguer()" *ngIf="router.url.includes('/login') === false"></i>
  
</nav>
<div class="nav-content-mobile" id="nav-mobile">
    <ul class="nav-list-mobile">
        <li class="nav-item"><a href="#start">Inicio</a></li>
        <li class="nav-item"><a href="#about">Sobre Nosotros</a></li>
        <li class="nav-item"><a href="#contacto">Contacto</a></li>
        <li class="nav-item"><a [routerLink]="['/store']">Tienda</a></li>
        <li class="nav-item"><a [routerLink]="['/login']">Soy Emprendedor</a></li>
    </ul>

</div>
<!--/.Navbar-->