:root {
  --primary: rgb(174, 192, 228);
  --secondary: rgb(34,70,158);
  --darkSecondary:rgb(45,47,96);
}
* {
    font-family: "Exo", sans-serif;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
  }
  h2 {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-size: 45px;
    margin-top: 50px;
  }
  li {
    list-style: none;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  video {
    max-height: 100%;
    width: 100%;
    background-position: center;
  }
  i {
    font-size: 80px;
    min-height: 50px;
    min-width: 50px;
    align-self: center;
  }
  a {
    font-weight: 700;
    font-size: 19px;
    text-decoration: none;
  }
  a:hover{
    color: var(--primary);
  }
.hamburguer {
  display: none;
}
.nav-content-mobile {
  display: none;
}
.nav-list-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  height: 100%;
  width: 100%;
}
.nav-list-mobile li {
  margin: 15px;
}
@media only screen and (max-width: 1216px) {
  .hamburguer {
    display: block;
  }
  .nav-content {
    display: none;
  }
}
.navbar {
    justify-content: space-between;
    background-color: var(--darkSecondary);
  }
  .navbar .nav-list {
    display: flex;
  }
  .logo-box {
    flex-basis: 15%;
  }
  .logo-box:hover{
      cursor: pointer;

  }
  .logo {
    height: 65px;
  }
  .nav-content {
    flex-basis: 85%;
    height: 100%;
  }
  .nav-list {
    justify-content: flex-end;
    align-items: center;
  }
  .nav-item {
    padding-right: 4%;
    font-weight: 700;
    font-size: 19px;
    text-transform: uppercase;
  }
  .nav-item:hover {
    cursor: pointer;
    text-decoration: none;
  }
  .search{
    width: 500px;
    margin-right:450px!important;
  }
  .bi-person-circle{
    font-size:2em;
  }
  .nav-link{
    padding: 0;
  }
.nav-item.dropdown{
  margin-right: 1em;
}